.application{
    color: white;
    background-image:linear-gradient(-90deg,#FF3BFF 0%,#ECBFBF 38%,#5C24FF 76% ,#D94FD5 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2rem;
    padding-top: 5vh;
    padding-left: 5vw;
}
.description{
    padding-top: 2vh;
    width: 50%;
    font-size: 2rem;
    color: white;
    font-weight: normal;
    padding-left: 5vw;
}
.Mainlanding{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    align-items: center;
    overflow: hidden;
}
.robot{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5vh;
    object-fit: cover;


}
.button{
    padding-top: 5vh;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: start;
    padding-left: 5vw;
}
.work{
    width: 240px;
    height:70px ;
    border: none;
    font-size: 20px;
    border-radius: 8px;
    background-color: #9747FF;
    color: white;
}
.learn{
    width: 240px;
    height:70px ;
    border: none;
    font-size: 20px;
    border-radius: 8px;
}











/*media query for mobile pre-defined*/
  /* xs */
  @media (max-width: 475px){
   
  }
  @media (min-width: 475px) {
 

  }
  
  /* sm */
  @media (min-width: 640px) {
      .Mainlanding{
        text-align: center;
        align-items: center;
       }
       .button{
           flex-direction: row;
           padding-left: 5vw;
       }
       .robot{
           width: 100%;
           height: auto;
       }
       .description{
        font-size: 3rem;
        width: 95%;
       }
        .application{
            font-size: 2rem;
        }
        }
  
  
  /* md */
  @media (min-width: 768px) {
   
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .robot{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-top: 1vh;
    }
    .description{
        font-size: 3rem;
        width: 75%;
    }
    .application{
        font-size: 2rem;
    }
    .button{
        flex-direction: row;
    }
   
  }
  
  /* xl */
  @media (min-width: 1280px) {}
  
  /* 2xl */
  @media (min-width: 1536px) {
   
  }
  @media (max-width: 768px) {
    .Mainlanding{
     text-align: start;
     align-items: start;
    }
    .button{
        flex-direction: column;
    }
    .robot{
        width: 100%;
        height:auto;
    }
    .work{
        width: 360px;
        height: 50px;
    }
    .learn{
        width: 360px;
        height: 50px;
    }
   }
 