
.container{
    display: flex;
    justify-content: start;
    padding-top: 5vh;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    gap: 20px;
    padding-bottom: 2vh;
}
.surveyBox{
    width: 40%;
    height: auto;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    justify-content: start;
    .smallBox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-radius: 10px;
        border: solid grey;
        &:hover{
            border: solid #1230AE;
        }
    }
    .activeBox{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        border-radius: 10px;
        border: solid blue;
       
    }
}
.welcomeButton{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 50px;
    button{
        width: 200px;
        height: 50px;
        background:#514eff;
        color: white;
        border-radius: 10px;
        border:none;
    }
}
.modalContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .modal{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .surveyBox{
        width: 60%;
    }
}
@media (max-width: 1024px) {
    .surveyBox{
        width: 70%;
    }
}
@media (max-width: 468px) {
    .surveyBox{
        width: 80%;
        .smallBox{
            height: 60px;
        }
    }
}