.container{
    width: 100%;
    font-family: SF-Pro;
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        "right right right"
        ;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: auto auto auto auto ;
    overflow: hidden;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "landing landing landing"
        "about about about"
        "feature feature feature"
        "key key key"
        "showKey showKey showKey"
    ;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-template-rows: auto auto auto auto auto;
}
.landing{
    display: flex;
    justify-content: start;
    background-image: linear-gradient(110deg, #160022 52%, #560088 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    grid-area: landing;
    padding-bottom: 5vh;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 0px grey;
}
.nav{
    grid-area: header;
    align-items: center;
}
.aboutPage{
    grid-area: about;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;

}
.featurePage{
    display: flex;
    flex-direction: column;
    justify-content: top;
    grid-area: feature;
    align-items: center;
    height:auto;

}
.keyPage{
    display: flex;
    justify-content: top;
    align-items: start;
    flex-direction: column;
    height: auto;
    grid-area: key;
    margin-bottom: 2vh;
}
.teamPage{
    display: flex;
    justify-content: center;
    width: 100%;
    grid-area: showKey;
    gap: 20px;
    flex-direction: column;
    height:auto;
    padding-bottom: 5vh;
    
}
.footer{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    grid-area: footer;
    flex-direction: column;
    padding-bottom: 5vh;
    background: linear-gradient(110deg, #160022 52%, #560088 100%);
}
#teamMembers{
    width: 100%;
    display: flex;
    justify-content: center;
}
#captions{
    color: #2E0148;
    font-size: 2.5rem;
    font-weight: bold;
}
.copyright{
    grid-area: right;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background: linear-gradient(110deg, #160022 52%, #560088 100%);
}
/*media query*/
