.container{
    width: 100%;
    font-family: SF-Pro;
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: 80px auto 100px ;
    height: 100vh;
}
.main{
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "landing landing landing"
        "about about about"
        "feature feature feature"
    ;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    grid-template-rows: auto auto 400px;
}
.landing{
    display: flex;
    justify-content: start;
    background-image: linear-gradient(110deg, #160022 52%, #560088 100%);
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    grid-area: landing;
    padding-bottom: 5vh;
    overflow: hidden;
    z-index: -1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav{
    grid-area: header;
    align-items: center;
}
.aboutPage{
    grid-area: about;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black

}







/*media query*/
@media (max-width: 768px) {
    .main{
        grid-template-rows: auto 400px 400px;
    }
}


